.section {
  padding-left: 40px;
}

.keyword {
  background: lightgrey;
  border-radius: 4px;
  display: inline;
}

.paragraph {
  color: grey;
}

.footer {
  color: gray;
  background-color: lightgrey;
  padding: 5px;
  margin: 20px;
  border-radius: 5px;
}
